        /*Estilos generales a toda la pagina*/
        
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            /*Evitar que las cajas se desborden unas con otras*/
        }
        
        body {
            font-family: 'Supermercado One', cursive;
            background: hsl(72, 2%, 79%)
        }
        
        .padre-cabezera {
            display: flex;
            flex-flow: column nowrap;
        }
        /*Cabezera de la web*/
        
        .cabezera {
            background: linear-gradient(to top, hsl(35, 93%, 54%), hsl(59, 97%, 51%));
            display: flex;
            flex-flow: column nowrap;
        }
        /*caja principal del menu de navegacion*/
        
        .padre-menu-navegacion {
            background-color: hsla(34, 94%, 49%, .1);
            display: flex;
            flex-flow: row nowrap;
            height: 150px;
            align-items: center;
        }
        
        .logo {
            flex: 1 1 auto;
            align-items: center;
            flex-direction: row;
        }
        
        #imagen-contenido {
            width: 35%;
        }
        
        .menu-navegacion {
            flex: 1 1 auto;
            margin: 1px;
            padding: 1px;
        }
        
        #menu-principal {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 1px;
            padding: 1px;
        }
        
        #menu-principal ul li {
            display: inline-block;
            padding: 1px;
            margin: 1px;
        }
        
        #menu-principal ul li a {
            color: hsl(26, 99%, 51%);
            text-decoration: none;
            list-style: none;
            letter-spacing: 1px;
        }
        
        #menu-principal ul li a:hover {
            font-size: 20px;
            background-color: hsl(35, 93%, 54%);
        }
        
        #menu-principal ul li a:active {
            color: hsl(0, 0%, 100%);
        }
        
        label {
            display: none
        }
        
        input {
            display: none;
        }
        
        .redes-sociales-padre {
            flex: 1 1 auto;
            text-align: center;
        }
        
        .redes-sociales {
            font-size: 20px;
            padding: 5px;
        }
        
        #instagram {
            color: hsl(263, 82%, 59%);
        }
        
        #instagram:active {
            color: hsl(0, 0%, 100%);
        }
        
        #instagram:hover {
            font-size: 25px;
        }
        
        #facebook {
            color: hsl(240, 82%, 59%)
        }
        
        #facebook:active {
            color: hsl(0, 0%, 100%);
        }
        
        #facebook:hover {
            font-size: 25px;
        }
        /*Texto principal en la web*/
        
        .texto-principal-menu {
            background-color: hsl(34, 94%, 49%);
        }
        
        .texto-principal-menu h1 {
            color: hsl(0, 0%, 0%);
        }
        
        .texto-menu {
            text-align: left;
            background-color: hsla(44, 84%, 57%, 1.0);
            color: hsl(26, 99%, 51%)
        }
        /*Redes sociales barra lateral*/
        
        .rs-bar {
            position: fixed;
            right: 0;
            top: 80%;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            z-index: 1;
            display: none;
        }
        
        .redes {
            color: white;
            text-decoration: none;
            padding: 10px;
            font-size: 10px;
            transition: all .5s;
        }
        
        .facebook {
            background-color: blue;
            font-size: 20px;
        }
        
        .instagram {
            background-image: linear-gradient(to top, yellow, purple);
            font-size: 20px;
        }
        
        .icono:first-child {
            border-radius: 10px 0 0 0;
        }
        
        .icono:last-child {
            border-radius: 0 0 0 10px;
        }
        
        .redes:hover {
            padding-right: 35px;
        }
        /*Caja1-->Seccion con articulos Caja2-->Publicidad*/
        
        main {
            background-color: linear-gradient(to top, hsl(35, 93%, 54%), hsl(59, 97%, 51%));
        }
        /*Caja1*/
        
        .secciones {
            background: linear-gradient(to top, hsl(35, 93%, 54%), hsl(59, 97%, 51%));
            display: flex;
        }
        
        .articulos-padre {
            background-color: hsl(34, 94%, 49%);
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
            text-align: center;
        }
        
        .articulos {
            background-color: hsla(44, 84%, 57%);
            flex: 1 1 40%;
            border: 2px solid hsl(0, 0%, 0%);
            margin: 10px;
        }
        /*Ordenar artículos de más a menos contenido*/
        
        #articulo-orden1 {
            order: 1;
        }
        
        #articulo-orden2 {
            order: 2;
        }
        
        #articulo-orden3 {
            order: 3;
        }
        
        #articulo-orden4 {
            order: 4;
        }
        
        .articulos img {
            width: 20%;
            margin-top: 10px;
        }
        /*Caja2*/
        
        .publicidad-padre {
            background-color: hsl(34, 94%, 49%);
            flex: 1 1 auto;
        }
        
        .publicidad-padre p {
            color: hsla(44, 84%, 57%, 1.0);
        }
        
        .publicidad {
            font-size: 20px;
            padding: 30px;
        }
        
        .publicidad a {
            color: hsla(44, 84%, 57%, 1.0);
            text-align: center;
        }
        /*Pie de página de la web*/
        
        .pie-pagina {
            background: linear-gradient(to bottom, hsl(35, 93%, 54%), hsl(59, 97%, 51%));
            text-align: center;
            bottom: 0;
            width: 100%;
        }
        .pie-pagina p a{
            text-decoration: none;
        }

        .btn-reserva{
            background-color: hsl(59, 97%, 51%);
        }
        
            .btn-reserva a{
                text-decoration: none;
                color:hsl(0, 0%, 0%)
            }
            .btn-reserva:active{
                background-color: hsl(26, 99%, 51%);
            }
        /*Adaptabilidad entre dispositivos*/
        /*Tablets*/
        /*A partir de los 800 px el aside bajaría hacia abajo en forma de columnas para visualizarlo mejor.  Además, la publicidad se ha colocado en forma de columnas*/
        
        @media all and (max-width: 800px) {
            .secciones {
                flex-direction: column;
            }
            .padre-menu-navegacion {
                flex-direction: column;
                height: auto;
            }
            .publicidad-padre {
                display: flex;
            }
            .publicidad {
                flex: 1 1 auto;
            }
            .logo {
                display: none;
            }
            .redes-sociales {
                display: none;
            }
            .rs-bar {
                display: flex;
                flex-direction: column;
                top: 60%;
                position: absolute;
            }
            .instagram {
                font-size: 15px;
            }
            .facebook {
                font-size: 15px;
            }
        }
        /*Dispositivos móviles*/
        /*A partir de los 600 px colocar los articulos y el aside (publicidad)en forma de columna para visualizarlo mejor. Disminuir letra*/
        
        @media all and (max-width:600px) {
            label {
                display: block;
            }
            input {
                display: block;
            }
            .logo {
                display: none;
            }
            .redes-sociales {
                display: none;
            }
            .rs-bar {
                top: 0%;
            }
            #instagram:hover {
                font-size: 20px;
            }
            #facebook:hover {
                font-size: 20px;
            }
            #menu-principal {
                position: absolute;
                width: 90%;
                background: white;
                top: 50px;
                left: -100%;
                transition: left .5s;
            }
            #menu-principal ul li {
                width: 100%;
                line-height: 90px;
                text-align: center;
                border: 1px solid white;
                background: orange;
            }
            #menu-principal ul li a {
                color: white;
            }
            span:hover {
                color: white;
            }
            #label-menu span {
                position: absolute;
                width: 40px;
                height: 40px;
                margin: 5px;
                cursor: pointer;
            }
            #btn-menu {
                display: none;
            }
            #btn-menu:checked~#menu-principal {
                left: 0px;
            }
            .articulos-padre {
                flex-direction: column;
            }
            .publicidad-padre {
                flex-direction: column;
            }
            p {
                font-size: 0.4em;
            }
            h1 {
                font-size: 1em;
            }
            h2 {
                font-size: 0.7em;
            }
            h3 {
                font-size: 0.6em;
            }
            h4 {
                font-size: 0.5em;
            }
            .btn-reserva {
                font-size: 0.5em;
            }
        }